.form {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.facturas-list button {
  margin: 5px;
  padding: 10px;
}

.detalle {
  margin-top: 20px;
  border: 2px solid #3f5ccf;
  padding: 15px;
  border-radius: 10px;
}